@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 218 28.4% 70%;
    --foreground-hover: 218 100% 90%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 80% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 215 27.9% 25.0%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }
}

html {
  background-color: #06101a;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10em;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid hsl(var(--foreground));
  outline-offset: -1px;
}

/* Initial state of entering element */
.dropdown-enter {
  transition: max-height 200ms ease-in-out;
  max-height: 0px;
}

/* Dynamic max-height for entering element */
.dropdown-enter-active {
  max-height: var(--content-height);
  /* This will be set dynamically */
}

/* Initial state of exiting element */
.dropdown-exit {
  transition: max-height 200ms ease-in-out;
}

/* Final state of exiting element */
.dropdown-exit-active {
  max-height: 0px;
}

.grid-cols-custom {
  grid-template-columns: 2fr 6fr 5fr;
  /* 25% 50% 25% distribution */
  gap: 1.4em
}

.site-menu {
  position: fixed;
  top: 50%;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@layer utilities {
  .transition-item {
    transition: all 0.24s ease-out, opacity 0.2s ease-out, color 0.2s ease-out;
  }

  .fill {
    width: 100%;
    height: 100%;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.transition-none {
  transition: none;
}

.navigation-item {
  transform-origin: left;
  transition: transform 0.24s ease-out, opacity 0.2s ease-out, color 0.2s ease-out;
  cursor: pointer;
}

:root #gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #06101a;
  --gradient-color-2: #0b1f33;
  --gradient-color-3: #06101a;
  --gradient-color-4: #06101a;

  --gradient-color-light-1: #a1cdfc;
  --gradient-color-light-2: #ffffff;
  --gradient-color-light-3: #ffffff;
  --gradient-color-light-4: #ffffff;
}

html.dark { background-color: #06101a; }
html.light { background-color: #CADCEF; }

.backdrop-enter {
    opacity: 0;
}

.backdrop-enter-active {
    opacity: 1;
      transition: opacity 300ms;
}

.backdrop-exit {
    opacity: 1;
}

.backdrop-exit-active {
    opacity: 0;
      transition: opacity 300ms;
}

b {
  color: #c1d7ec;
}

.line {
  height: 1px;
  width: 0%;
  background-color: #394760;
  margin: 2em 0;
  margin-top: 1em;
  transition: width 1.2s ease-in-out;
}
